html{
    height: 100%;
   
}
.formDiv > main {
    height: 100% !important;
    width: 23em;
}
.formDiv{
    height: 100vh !important;
    padding:8%;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    margin-bottom: 1em;
}

.textTitle{
    font-family: 'Poppinsbold';
    font-size: 1.5em;
    display: flex;
}

.loginPokeForm{
    display: flex;
    justify-content: flex-start;
}

@media(min-width: 420px){
    .formDiv{
        justify-content: center;
        display: flex;
    }
    .loginPokeForm{
        justify-content: space-between;
    }
    form{
        width: 30%;
    }
    .title{
        margin-right: 5%;
    }
    .pokeArrow{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.4em;
    }
    .logo{
        margin-bottom: 0em;
    }
    
    
}