html{
    height: 100%;
   
}
.formDiv > main {
    height: 100% !important;
    width: 23em;
}
.formDiv{
    height: 93vh !important;
    
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    margin-bottom: 1em;
    
}

.textTitle{
    font-family: 'Poppinsbold';
    font-size: 1.5em;
    display: flex;
}

.loginPokeForm{
    display: flex;
    justify-content: flex-start;
}