<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>LOGIN CON NODE + JWT</title>

    

    

  
  </head>
  <body class="text-center">
    
<main class="form-signin text-center shadow-lg p-3 mb-5">
  <form id="formLogin" action="/login" method="POST">
    <img class="mb-4" src="img/logo.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Ingrese Porfavor</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="user" name="user" placeholder="User">
      <label for="user">User</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
      <label for="pass">Password</label>
    </div>

    <div class="checkbox mb-3">
      
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
  <br>
  <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary">Registrarse</a>
  <p class="mt-5 mb-3 text-muted">&copy; Nano Odella</p>
</main> 


  </body>
</html>
