@font-face {        
  font-family: Poppins;
  src: url("../public/Poppins-Regular.ttf");
}
@font-face {        
  font-family: Poppinsbold;
  src: url("../public/Poppins-Bold.ttf");
}
@font-face {
  font-family: "fontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }
  
/* Generales */
  a{  text-decoration: none;}
  nav{height: 15vh; margin-top: 5%;}
  hr{ 
    margin-top: 7px;
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         92%;
    width:          1px;   
  }
  p{
    font-family: 'Poppins';
  }
  .hrAbout{
    margin-top: 7px;
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         70px;
    width:          1px;
    opacity: 0.2;
  }
  .margins{
    margin-left: 5%;
    margin-right: 5%;
  }
  .marginsPokemons{
    margin-left: 7%;
    margin-right: 1%;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
    height: auto;
  }
  .bodyPokemon{
    display: grid;
    height: 150px;
  }
    .footerPokemon {
      display: grid;
      height: 52px;
      width: 100.5%;
      text-align: center;
      align-items: center;
      color: white;
      font-family: 'Poppins';
      font-size: 94%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: -1px;
  }
  .headerPokemon{
    text-align: end;
    margin-right: 5px;
    font-family: 'Poppins';
  }

.pokemonContainerBank{
  margin-top: 2vw;
  display: grid;
  height: 200px;
  cursor: pointer;
  margin-right: 2vw;
}
.divImagePokemon{
  display: grid;
  justify-content: center;
  align-content: center;
}
.imgPokemon{
  width: 100px;
  height: 100px;
}

/* Especificos */

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
  align-items: center;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.imageLogo{
  height: 2em;
  display: flex;
}
.textTitle {
  font-family: 'Poppinsbold';
  font-size: 100%;
  display: flex;
}
.typeOrder{
  display: flex;
  cursor: pointer;
  align-items: center;
  font-family: 'Poppins';
  position: relative;
  right: -74px;
  top: 1px;
}
.arrowNav{
  height: 23px;
}
.searchBar {
  display: flex;
  justify-content: center;
}
.fontAw {
  font-family: FontAwesome, 'Poppins';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  width: 90%;
  height: 3em;
  border-radius: 7px;
  border-color: lightgrey;
  border-style: groove;
}
.borderPokemon{
  width: 26vw;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
}

/*Pokemon Selected*/
.pokemonContainer {
  width: 99vw;
  height: 100vh;
}
.backgroundPokemon{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh 65vh;
  width: 100vw;
  height: 100vh;
}
.divHeaderPokemonBank {
  display: grid;
  grid-area: 1/1/2/2;
  filter: invert(1000%) sepia(0%) saturate(7499%) hue-rotate(125deg) brightness(1000%) contrast(100%);;
}

.pokeballBackground {
  position: absolute;
  opacity: 0.2;
  right: 4%;
  top: 7%;
  height: 15em;
  pointer-events: none;
}
.headerPokemonBank {
  display: grid;
  height: 40%;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  opacity: 1;
  align-items: center;
}
.nameAndArrow{
  display: flex;
  grid-area: 1/1/2/2;
  flex-direction: row;
  align-items: center;
}
.idPokemons {
  display: grid;
  grid-area: 1/2/2/3;
  font-size: 1.5em;
  font-family: 'PoppinsBold';
  text-align: end;
  color: black !important;
  height: 100%;
  align-items: center;
  margin-right: 27%;
}

.pokemonArrow {
  height: 2em;
  display: flex;
  transform: rotate(90deg);
  width: 40px;
  justify-self: left;
  margin-left: 10px;
}

.pokemonName {
  display: flex;
  font-size: 1.5em;
  font-family: 'PoppinsBold';
  justify-self: left;
  margin-left: 0.5em;
}

.barCompleted {
  height: 10px;
  border-radius: 15px;
}

.barLabel {font-size: 0px;}

.imgPokemonBig{
  position: absolute;
  top: 15%;
  left: 25%;
  max-height: 100%;
  max-width: 100%;
}

.leftDot{
  position: absolute;
  font-size: xx-large;
  left: 30px;
  bottom: 15px;
  font-family: 'Poppins';
  color: black;
}

.rightDot{
  position: absolute;
  font-size: xx-large;
  right: 30px;
  bottom: 15px;
  font-family: 'Poppins';
  color: black;
}

.bodyPokemons{
  display: grid;
  grid-area: 2/1/3/2;
  background-color: white;
  width: 98%;
  height: 99%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px;
  grid-template-columns: 100%;
  grid-template-rows: 15% 35% 50%;
}
.typesPokemon{
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  gap: 10px;
}
.buttonPokemon{
  width: 80px;
  height: 100px;
  height: fit-content;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: 3%;
  font-family: 'Poppins';
  font-size: medium;

}
.aboutPokemon{
  display: grid;
  grid-area: 2/1/3/2;
  grid-template-columns: 30% 2% 31% 2% 35%;
  grid-template-rows: 35% 45% 20%;
  text-align: center;
  justify-self: center;
  font-size: 14px;
  font-family: 'Poppins';
  justify-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.titleAbout{
  display: grid;
  grid-area: 1/1/2/6;
  font-family: 'PoppinsBold';
  font-size: 24px;
  align-items: center;
}

.weightAbout{
  display: grid;
  grid-area: 2/1/3/2;
  justify-content: center;
  align-items: center;

}
.infoAboutStat{
  display: flex;
  grid-area: 1/1/1/1;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.hrLeftSide{
  display: flex;
  grid-area: 2/2/3/3;
}
.titleAboutStats{
  display: grid;
  grid-area: 2/1/3/2;
  color: #e0e0e0;
  font-size: 1em;
  font-family: 'PoppinsBold';
  align-self: center;
  text-align: center;
  height: 20%;
}

hr {
  margin-top: 16%;
  height: 90%;
}
.heightAbout{
  display: grid;
  grid-area: 2/3/3/4;
}
.hrLeftSide{
  display: flex;
  grid-area: 2/4/3/5;
}
.movesAbout{
  display: grid;
  grid-area: 2/5/3/6;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.descriptionAbout {
  display: grid;
  grid-area: 3/1/4/6;
  text-align: left;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6%;
}
.baseStats{
  display: grid;
  grid-template-columns: 10% 5% 10% 75%;
  grid-template-rows: 20% 80%;
}
.labelStat{
  text-align: right;
  height: 1px;
  font-size: 12px;
  font-family: 'PoppinsBold';
}
.divLabelStat{
  font-family: 'PoppinsBold';
  margin-left: 10px;
  display: flex;
  grid-area: 2/1/3/2;
  flex-direction: column;
  width: 30px;
  justify-content: space-evenly;
}
.hrMid{
  display: flex;
  justify-content: center;
  grid-area: 2/2/3/3;
}
.divLabelStatPokemon{
  display: flex;
  grid-area: 2/3/3/4;
  flex-direction: column;
  width: 10px;
  justify-content: space-evenly;
}
.divProgressBar{
  display: flex;
  grid-area: 2/4/3/5;
  flex-direction: column;
  margin-right: 5%;
  justify-content: space-evenly;
}


.baseStatslbl {
  display: grid;
  grid-area: 1/1/2/5;
  text-align: center;
  font-family: 'PoppinsBold';
  align-items: center;
  margin-top: 8%;
}

/*-----Loader------*/
.loader{
  width: 100vw;
  height: 100vh;
  background: rgb(255,202,0);
  background: linear-gradient(0deg, rgba(255,202,0,1) 0%, rgba(255,180,0,1) 39%, rgba(254,148,0,1) 80%);  
  color: white;
}

.loader img {
  width: 100px;
  height: 100px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  justify-content: center;
  left:42%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@media (min-width: 420px){
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    justify-content: center;
    left: 48%;
}

.container{
  justify-content: center;
  margin-left: 0em;
  margin-right: 0px;
  padding:0px;
  width: 95vw;
  margin-left: 20%;
}


.titleAbout {
  display: grid;
  grid-area: 1/1/2/6;
  font-family: 'PoppinsBold';
  font-size: 24px;
  align-items: center;
  margin-bottom: 10%;
}
.typesPokemon {
  display: flex;
  grid-area: 1/1/2/2;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  gap: 10px;
}
.baseStats{
  margin-top: 2%;
  margin-bottom: 3%;
}

.hrMid {
  display: flex;
  justify-content: center;
  grid-area: 2/2/3/3;
  height: 17em;
}
.pokemonName{
  font-size: 2.5em;
}
.aboutPokemon {
  
  font-size: 90%;
 
}
.pokeballBackground {
  right: 3%;
  top: 1%;
  height: 25em;
}
.idPokemons {
  font-size: 2.3em;
}
.pokemonArrow{
  height: 3em;
}
.bodyPokemons {
  display: grid;
  grid-area: 2/1/3/2;
  background-color: white;
  width: 99%;
  height: 85%;
  margin-left: 0.5%;
  border-radius: 10px;
  grid-template-columns: 100%;
  grid-template-rows: 15% 35% 50%;
  margin-top: -1em;
}
  nav{
    margin-top: 2%;
  }
  .typeOrder{
    right: -43%;
  }
  .imgPokemonBig {
    top: 5%;
    left: 42%;
    height: 21em;
}
  .divLabelStat {
    margin-left: 80%;
  }
  hr {
    margin-top: 16%;
    height: 50%;
  }
  .labelStat {
  font-size: 1em;
  }
  .descriptionAbout {
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
}
  .movesAbout, .heightAbout , .weightAbout{
    font-size: 1.5em;
  }
  .baseStatslbl {
    position: relative;
    margin-top: 2.5%;
    font-size: 1.5em;
    top: -125%;
}
  .headerPokemonBank {
    margin-right: -2%;
    margin-left: 3%;
  }
  .titleAboutStats {
    font-size: 0.8em;
    margin: 0;
    display: flex;
    align-self: center;
    text-align: center;
    height: 0em;
}

}




